/* VARIABLES */

@import "fonts.css";

*{
    box-sizing: border-box;
    margin: 0;
}
/* GENERAL */
*,
*::before,
*::after{
    box-sizing: inherit;
}
html{
    height: 100%;
    box-sizing: border-box;
}
img{
    display: block;
    height: auto;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Gilroy-Light", "Arial", sans-serif;
    /* background-color:  #e5e5e5; */
}

/* VISUALLY-HIDDEN */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */
.container{
    max-width: 1153px;
    width: 100%;
    margin: 0 auto;
    padding: 0 23px;
}

/* STICKY-FOOTER */
.site-main{
    flex-grow: 1;
}

/* Header start */

.header {
    padding: 32px 0 41px;
    background-color: rgba(242, 247, 255, 0.5);
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-img {
    width: 95px;
}

.header__burger {
    background-image: url("../images/Burger.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header__close {
    display: block;
    margin-left: auto;
    margin-bottom: 32px;
    background-image: url("../images/close.svg");
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header__contact {
    position: fixed;
    z-index: 10;
    top: 80px;
    max-width: 285px;
    width: 100%;
    height: 285px;
    margin: 0 auto;
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: #f8fbff;
    box-shadow: 0px 5px 10px 2px rgba(196, 202, 210, 0.4);
    transform: translateY(-150%);
    transition: transform 1s;
}

.box {
    display: flex;
    justify-content: center;
}

.header__contact.shownav {
    transform: translateY(0%);
}

.header__contact-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    display: inline-block;
    width: 177px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    border-radius: 6px;
}

.header__contact-close {
    margin-bottom: 11px;
    background-color: #f1e4ff;
    color: #685ED6;
    transition: 0.5s;
}


.header__contact-close:hover {
    background-color: #c39bfb;
}
.header__contact-close:active {
    background-color: #685ED6;
    color: #fff;
}

.header__contact-signup {
    background-color: #685ed6;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    color: #fff;
}

.header__contact-signup:hover {
    background-color: #33afe1;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.14);
}

.header__contact-signup:active {
    background-color: #18E1F7;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.14);
}


@media only screen and (min-width:768px){
    
    .header {
        padding: 32px 0 50px;
    }
    
    .header__contact {
        position: static;
        transform: translateY(0);
    }
    
    .header__wrapper {
        display: flex;
        justify-content: space-between;
    }
    
    .header__contact-btn {
        flex-direction: row;
    }
    
    .box {
        justify-content: start;
    }
    
    .header__contact {
        background-color: transparent;
        box-shadow: none;
        height: 0;
        max-width: max-content;
        margin: 0;
        padding: 0;
    }
    
    .header__logo-img {
        width: 133px;
    }
    
    .header__contact-close {
        width: 76px;
        margin-right: 12px;
        margin-bottom: 0;
    }
    
    .header__contact-signup {
        width: 138px;
    }
    
    .header__close {
        display: none;
    }
    
    .header__burger {
        display: none;
    } 
}

@media only screen and (min-width:992px){
    
    .header {
        padding: 32px 0 95px;
    }
    
}

/* Header end */


/* Hero start */

.hero {
    background-color: rgba(242, 247, 255, 0.5);
    backdrop-filter: blur(50px);
    padding-bottom: 60px;
}

.hero__info {
    position: relative;
    max-width: 330px;
    width: 100%;
    margin: 0 auto 50px;
}

/* .hero__info::after {
    position: absolute;
    top: 150px;
    left: 0;
    background-image: url("../images/PurpleCircle.svg");
    background-repeat: no-repeat;
    width: 170px;
    height: 170px;
    content: "";
} */

.hero__img {
    max-width: 420px;
    width: 100%;
    margin: 0 auto;
}

.hero__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 32px;
    color: #685ed6;
}

.hero__title span {
    color: #000;
}

.hero__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #1D2530;
    margin-bottom: 32px;
}


.hero__text span {
    font-weight: 800;
    color:#685ed6;
}

.hero__link {
    display: inline-block; 
    width: 168px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    padding: 12px 0;
    color: #fff;
    background-color: #685ed6;    
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    text-decoration: none;
}


@media only screen and (min-width:768px){
    
    .hero__wrapper {
        display: flex;
        justify-content: space-between;
    }
    
    .hero__img {
        margin: 0;
    }
    
    .hero__info {
        margin: 0;
    }
    
}


@media only screen and (min-width:992px){
    
    .hero__info {
        max-width: 482px;
    }
    
    .hero__title {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 24px;
    }
    
    .hero__text  {
        font-size: 24px;
        line-height: 34px;
    }
    
    .hero__img  {
        max-width: 500px;
        height: 500px;
    }
    
}


@media only screen and (min-width:1100px){
    
    .hero__img  {
        max-width: 600px;
        height: 600px;
    }
}
/* Hero end */


/* Online start */

.online {
    background-color: rgba(242, 247, 255, 0.5);
    backdrop-filter: blur(50px);
    padding: 60px 0;
}

.online__title {
    font-weight: 800;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 40px;
    color: #1D2530;;
}

.online__list {
    padding-left: 0;
    list-style: none;
}

.online__item {
    display: flex;
    max-width: 354px;
    width: 100%;
    margin: 0 auto 16px;
}

.online__item:nth-of-type(4){
    margin-bottom: 24px;
}

.online__item-info {
    max-width: 271px;
    width: 100%;
}

.online__iem-img {
    max-width: 42px;
    width: 100%;
    margin-right: 20px;
}

.online__item-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 4px;
    color: #1D2530;
}

.online__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #1D2530;
}

.online__img {
    max-width: 244px;
    width: 100%;
    margin: 0 auto;
}


@media only screen and (min-width:768px){
    
    .online__wrapper {
        display: flex;
        justify-content: space-between;
    }
    
    .online__title {
        text-align: start;
        font-size: 32px;
    }
    
    .online__img {
        max-width: 260px;
        height: 487px;
        margin: 0;
    }
    
    .online__item {
        max-width: 522px;
    }
    
    .online__item-info {
        max-width: 428px;
    }
    
    .online__item:nth-of-type(4){
        margin-bottom: 0px;
    }
    
    .online__item:nth-of-type(4){
        margin-bottom: 0;
    }
    
    
}


@media only screen and (min-width:992px) {
    
    .online {
        padding: 70px 0 82px;
    }
    
    .online__title {
        margin-bottom: 68px;
    }
    
    .online__item-title {
        font-size: 24px;
    }
    
    
    .online__item  {
        margin-bottom: 50px;
    }
    
    .online__iem-img {
        max-width: 68px;
        margin-right: 28px;
    }
    
    .online__img {
        max-width: 340px;
        height: 667px;
    }
    
}

/* Online end */


/* Price start */

.price {
    background-color: #fff;
    /* background-color: #000; */
    padding: 54px 0 88px;
}

.price__info {
    max-width: 241px;
    width: 100%;
    margin: 0 auto 32px;
}

.price__info-title {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #1D2530;
    margin-bottom: 8px;
}

.price__info-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #1D2530;
    text-align: center;
}

.price__list {
    padding-left: 0;
    list-style: none;
}

.price__item {
    max-width: 330px;
    width: 100%;
    background-color: #FCFEFF;  
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    margin-right: 15px;
    margin-left: 15px;
    overflow: hidden;
}

.price__span {
    display: inline-block;
    width: 100%;
    font-weight: 800;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    padding: 6px 0;
    color: #685ed6;
    background-color: rgba(104, 94, 214, 0.05);
}

.price__item-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px 50px;
}

.price__desc-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;    
    margin-bottom: 32px;
    color: #1D2530;
}

.price__desc-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    margin-bottom: 46px;
    color: #1D2530;
}

.price__desc-link {
    display: inline-block;
    max-width: 270px;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    padding: 12px 0;
    color: #fff;
    background-color: #685ED6;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    text-decoration: none;
}

.slick-dots {
    bottom: -50px;
}


.slick-prev , .slick-next {
    display: none !important;
}


.slick-dots li button:before  {
    font-size: 10px;
    color: #685ED6;    
}

@media only screen and (min-width:768px){
    
    .price__info {
        max-width: 375px;
    }
    
}

@media only screen and (min-width:992px){
    
    .price {
        padding: 100px 0 100px;
    }
    
    .price__item {
        max-width: 350px;
    }
    
    .price__info {
        max-width: 450px;
        margin-bottom: 40px;
    }
    
    .price__info-title {
        font-size: 46px;
        line-height: 64px;
        margin-bottom: 16px;
    }
    
    .price__info-text {
        font-size: 24px;
        line-height: 32px;
    }
    
}

/* Price end */


/*  Chat start */

.chat {
    padding-bottom: 122px;
}

.chat__top {
    max-width: 331px;
    width: 100%;
    margin: 0 auto 49px;
}

.chat__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #1D2530;
}

.chat__list {
    list-style: none;
    padding-left: 0;
}

.chat__item {
    max-width: 214px;
    width: 100%;
    margin-right: 25px;
    margin-left: 25px;
}

.chat__image {
    max-width: 214px;
    width: 100%;
}

.chat__item-desc {
    margin-bottom: 42px;
    text-align: center;
}

.chat__desc-span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    margin: 0 auto 23px;
    color: #685ED6;
    background-color: #f1e4ff;
    border-radius: 100px;
}

.chat__desc-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #1D2530;
    margin-bottom: 4px;
}

.chat__desc-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

@media only screen and (min-width:768px){
    
    .chat__top {
        max-width: 600px;
        margin-bottom: 39px;
    }
    
}


@media only screen and (min-width:992px){
    
    
    .chat {
        padding-bottom: 140px;
    }
    
    .chat__top {
        max-width: max-content;
        margin-bottom: 56px;
    }
    
    .chat__title {
        font-size: 40px;
        line-height: 64px;
    }
    
    .chat__item , .chat__image  {
        max-width: 255px;
    }
    
}

/*  Chat end */



/* Contact start */

.contact {
    padding-bottom: 54px;
}

.contact__wrapper {
    background-image: url("../images/BGMask.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 1110px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
    border-radius: 6px;
}

.contact__img {
    max-width: 269px;
    width: 100%;
    height: 239px;
    margin: 0 auto  25px;
}

.contact__info {
    max-width: 321px;
    width: 100%;
    margin: 0 auto;
}

.contact__info-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    margin-bottom: 16px;
}

.form {
    position: relative;
    display: flex;
}

.contact__input {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    max-width: 210px;
    width: 100%;
    padding: 10px 0 10px 16px;
    background-color: #f4f5f7;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #fff;
}

.contact__input:focus {
    background-color: #f7f7fd;
    border: 1px solid #605dec;
    border-radius: 4px;
}

.contact__btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    max-width: 120px;
    width: 100%;
    color: #fff;
    background-color: #18191f;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #18191f;
}

.form__error {
    position: absolute;
    top: 48px;
    display: inline-block;
    max-width: 151px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-left: 20px;
    color: #aaaaaa;
    opacity: 0;
}

.form__error::after {
    position: absolute;
    top: 0;
    left: -20px;
    background-image: url("../images/error.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    content: "";
}

.contact__input:not(:placeholder-shown):not(:focus):invalid{
    color: #ff0000;
    border-color: #ff0000;
}


.contact__input:not(:placeholder-shown):not(:focus):invalid + span {
    opacity: 1;
}

@media only screen and (min-width:768px){
    
    .contact__wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 0;
    }
    
    .contact__info-title {
        margin-bottom: 32px;
    }
    
    .contact__info {
        margin: 0;
    }
    
    .contact__img {
        margin: 0;
    }
    
}


@media only screen and (min-width:992px) {
    
    .contact {
        padding-bottom: 90px;
    }
    
    
    .contact__wrapper {
        align-items: center;
        padding-top: 20px;
        padding-left: 87px;
        padding-right: 135px;
    }
    
    .contact__img  {
        max-width: 314px;
        width: 100%;
        height: 285px;
    }
    
    .contact__info {
        max-width: 445px;
    }
    
    .contact__info-title {
        font-size: 33px;
        line-height: 41px;
    }
    
    .contact__input {
        max-width: 248px;
    }
    
}


/* Contact end */


/*  Footer start  */

.footer {
    background-color: #1D2530;
    padding: 60px 0 0;
}

.footer__wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.footer__list {
    padding-left: 0;
    list-style: none;
    margin-left: 35px;
}

.footer__list:nth-of-type(1){
    margin-bottom: 24px;
}

.footer__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #F4F5F7;
    margin-bottom: 16px;
}

.footer__link {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #EEEFF4;
    margin-bottom: 8px;
    text-decoration: none;
}


.footer__bottom {
    background-color: #141B23;
    padding: 25px 0;
}

.footer__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #D9DBE1;
}

@media only screen and (min-width:768px){

    .footer__wrapper {
        justify-content: space-between;
    }

    .footer__info {
        display: flex;
    }

    .footer__list {
        margin-left: 0;
    }

    .footer__list:nth-of-type(1){
        margin-bottom: 0;
        margin-right: 80px;
    }

    .footer__text {
        text-align: start;
    }

}


@media only screen and (min-width:992px){

    .footer {
        padding-top: 104px;
    }

    .footer__wrapper  {
        padding-bottom: 80px;
    }

    .footer__list:nth-of-type(2){
        margin-right: 200px;
    }

    .footer__list:nth-of-type(1){
        margin-bottom: 0;
        margin-right: 120px;
    }

}

/*  Footer end */